@import url(global.css);

/* header */
.header{
  margin-bottom: 3rem;
}
.header .head_banner{
  position: absolute;
  z-index: -1;
}
.header .head_banner img{
  width: 100vw;
  height: 100vh;
  filter: brightness(.3);
  object-fit: cover;
}
.header .container {}
.header .container nav{
  width: 100%;
/*   background: var(--c2); */
  color: var(--c2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0; 
}

.header .container nav .logo a{
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--c1);
}

.header .container nav .left{
  display: flex;
  justify-content: center;
  align-items: center;
}


.header .container nav .nav_links{
  display: flex;
  margin-right: 1rem;
}
.header .container nav .nav_links li{
  width: 80px;
  margin: 1rem;
  text-align: center;
}
.header .container nav .nav_links li a{
  
}
.header .container nav .nav_links li a.active,
.header .container nav .nav_links li a:hover{
  border-bottom: 1px solid var(--c1);
  color: var(--c1)
}
.header .container nav .btn{
  background: var(--c1);
  padding: .5rem 1rem;
  border-radius: .2rem;
  cursor: pointer;
  animation: updown 1s infinite;
}

@keyframes updown{
  0%, 20%, 45%, 70%{
    transform: translateY(-5px);
  }
  10%, 35%, 60%,90%{
    transform: translateY(0);
  }
}


.header .container nav .btn:hover{
  transform: translateY(-5px);
  animation: none;
}
.header .container .content{
  margin-top: 6rem;
  color: var(--c2);
}
.header .container .content .texts{
  width: 60%;
}
.header .container .content .texts h1{
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: .4rem;
}
.header .container .content .texts p{
margin-bottom: 1rem;
}
.header .container .content .texts span.btn{
  background: var(--c1);
  padding: .5rem 1rem;
  border-radius: .2rem;
  cursor: pointer;
}
.header .container .content .texts span.btn:hover{
  margin-left: .5rem;
}
.header .container .content .bg_change_btns{
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .content .bg_change_btns .circle{

}
.header .container .content .bg_change_btns .circle span{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--c2);
  margin: 0 .3rem;
}
.header .container .content .bg_change_btns .circle span.active{
  background: var(--c1);
  transform: scale(1.6);
}
.header .container .content .bg_change_btns .circle span:hover{
  
}
.header .container .content .bg_change_btns .arrow{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .content .bg_change_btns .arrow .left_arrow, .header .container .content .bg_change_btns .arrow .right_arrow {
  margin-right: .5rem;
  width: 30px;
  height: 30px;
  background: gray;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  padding: .3rem;
}
.header .container .content .bg_change_btns .arrow .left_arrow.active, .header .container .content .bg_change_btns .arrow .left_arrow:hover, .header .container .content .bg_change_btns .arrow .right_arrow.active, .header .container .content .bg_change_btns .arrow .right_arrow:hover  {
  background: var(--c1);
}



/* service section in home page */

.section_home_service{
  padding: 9rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_home_service .left{}
.section_home_service .left span{
  height:3px;
  display: inline-block;
  width: 8rem;
  background: var(--c1);
  margin-bottom: 1rem;
}
.section_home_service .left h2{
  font-size: 2rem;
  font-weight: 500;
  width: 70%;
}
.section_home_service .left p{
  text-align: justify;
  margin-right: 3rem;
  
}
.section_home_service .left a{
  margin-top: 2rem;
  display: block;
  font-weight: 600;
  color: var(--c1);
  animation: updown 1s infinite;
}
.section_home_service .left a:hover{
  animation: none;
  color: var(--c3);
  letter-spacing: 1px;
}
.section_home_service .right{
  
}
.section_home_service .right img{
  width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: .5rem;
/*   box-shadow: 0 0px 2px 4px rgba(0,0,0,.1) */
}
.section_home_service:hover .right img{
/*   transform: scale(1.04) */
}



.section_home_ttp{}
.section_home_ttp .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: .5rem;
  margin-bottom: 1rem;
  border-left: 4px solid var(--c1);
}
.section_home_ttp .top h2{
  padding-left: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}
.section_home_ttp .top .btns{
  display: flex;
}
.section_home_ttp .top .btns .btn{
  display: grid;
  place-items: center;
  margin-left: 1rem;
  background: gray;
  color: var(--c2);
  width: 30px;
  height: 30px;
  border-radius: .2rem;
  cursor: pointer;
}
.section_home_ttp .top .btns .btn.active,
.section_home_ttp .top .btns .btn:hover
{
  background: var(--c1);
}
.section_home_ttp .top .btns .btn:hover{}

.section_home_ttp .images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.section_home_ttp .images .img_container{
  width: 350px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 3rem 0;
  border-radius: .5rem;
/*   display: none; */
  cursor: pointer;
  transition: all 1000 ease-in;
}
.section_home_ttp .images .img_container .content{
  position: absolute;
  z-index: 2;
/*   top: 0; */
/*   left: 5rem; */
  text-align: center;
  bottom: 1rem;
  padding-bottom: 2rem;
  background: var(--c2);
  width: 90%;
  left: 1rem;
  border-radius: .5rem;
  visibility: hidden;
  
}
.section_home_ttp .images .img_container .img{}
.section_home_ttp .images .img_container .img img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.section_home_ttp .images .img_container h3{
  font-weight: 500;
  margin-top: 1rem;
  font-size: 1.3rem;
}
.section_home_ttp .images .img_container span{
  font-size: .9rem;
  color: #888;
}
.section_home_ttp .images .img_container .btn{
  background: var(--c1);
  padding: .5rem 1rem;
  border-radius: .2rem;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  color: var(--c2);
  margin-top: 1rem;
}
.section_home_ttp .images .img_container:hover .content{
  visibility: visible; 
  /* opacity: .5; */
  
}


.section_home_ttp .images .img_container:hover img {
  filter: brightness(.25)
}




/* input section */
.input_section{
  margin: 3rem 0;
/*   background-image: url(assets/img/banner.jpg) no-repeat cover; */
  color: var(--c2);
/*   filter: brightness(.5); */
  padding:2rem 0 ;
  
  background-image: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.9)), url(../img/banner.jpg);
  background-attachment: fixed;
}
.input_section .container{
  padding: 2rem 0;
  filter: brightness(1) !important;
}
.input_section .container .top{
  margin-bottom: 2rem;
}
.input_section .container .top li{
  display: inline-block;
  width: 120px;
  text-align: center;
}
.input_section .container .top li a{
  padding-bottom: .1rem;
  font-size: 1.4rem;
  
}
.input_section .container .top li a:hover,
.input_section .container .top li a.active{
  border-bottom: 2px solid var(--c1);
  color: var(--c1);
  
}
.input_section .container .input_items{
  
}
.input_section .container .input_items form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input_section .container .input_items form .input_item{
  width: 150px;
  display: flex;
  margin: 1rem;
}
.input_section .container .input_items form .input_item input{
  width: 120px;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--c1);
  padding-bottom: .3rem;
  outline: none;
}
.input_section .container .input_items form .input_item i{
  color: var(--c1);
  cursor: pointer;
/*   margin-left: -1rem; */
}
.input_section .container .input_items form input.btn{
  background: var(--c1);
  border: none;
  padding: .3rem 1rem;
  border-radius: .3rem;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
  cursor: pointer;
}


.our_tour_section{
  margin: 3rem 0;
  padding: 5rem 0;
}
.our_tour_section .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 1rem;
  border-left: 3px solid var(--c1);
}
.our_tour_section .top .left {}
.our_tour_section .top .left h2 {
/*   padding-left: 1rem; */
  letter-spacing: 1px;
  font-weight: 400;
}
.our_tour_section .top .left p {}
.our_tour_section .top .right {
}
.our_tour_section .top .right .btns {
  display: flex;
 
}
.our_tour_section .top .right .btns .btn {
  display: grid;
  place-items: center;
  margin-left: 1rem;
  background: gray;
  color: var(--c2);
  width: 30px;
  height: 30px;
  border-radius: .2rem;
  cursor: pointer;
}
.our_tour_section .top .right .btns .btn.active {
  background-color: var(--c1);
}
.our_tour_section .top .right .btns .btn .left_arrow {}
.our_tour_section .top .right .btns .btn .right_arrow {}





.our_tour_section .images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.our_tour_section .images .img_container{
  width: 350px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 3rem 0;
  border-radius: .5rem;
/*   display: none; */
  cursor: pointer;
  transition: all 1000 ease-in;
}
.our_tour_section .images .img_container .content{
  position: absolute;
  z-index: 2;
/*   top: 0; */
/*   left: 5rem; */
  text-align: center;
  bottom: 1rem;
  padding-bottom: 2rem;
  background: var(--c2);
  width: 90%;
  left: 1rem;
  border-radius: .5rem;
  visibility: hidden;
  
}
.our_tour_section .images .img_container .img{}
.our_tour_section .images .img_container .img img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.our_tour_section .images .img_container h3{
  font-weight: 500;
  margin-top: 1rem;
  font-size: 1.3rem;
}
.our_tour_section .images .img_container span{
  font-size: .9rem;
  color: #888;
}
.our_tour_section .images .img_container .btn{
  background: var(--c1);
  padding: .5rem 1rem;
  border-radius: .2rem;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  color: var(--c2);
  margin-top: 1rem;
}
.our_tour_section .images .img_container:hover .content{
  visibility: visible; 
  /* opacity: .5; */
  
}


.our_tour_section .images .img_container:hover img {
  filter: brightness(.25)
}

































/* testimonial Section */
.testimonial_options{
  width: 100%;
  overflow: hidden;
  display: flex;
}
.testimonial_options .option{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
  margin: 1rem;
  padding: 2rem;
  border-radius: .4rem;
  width: 50%;
  cursor: pointer;
}
.testimonial_options .option .talk{
  display: flex;
  flex-direction: column;
}
.testimonial_options .option .talk p{
  text-align: left;
  margin: 1rem 0;
  margin-top: -1rem;
  font-size: 1rem;
  padding-right: 1rem;
}
.testimonial_options .option .talk .client_details{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.testimonial_options .option .talk .client_details .name{
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.testimonial_options .option .talk .client_details .degree{
  color: var(--tc2);
}
.testimonial_options .option > img{
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: .4rem;
}


.newsletter_section .content{
    padding: 0 0 5rem;
    text-align: center;
  margin-top: 5rem;
}
.newsletter_section .content .btns input{
    padding: .4rem 1rem;
    outline: none;
}
.newsletter_section .content .btns .btn{
  background: var(--c1);
  padding: .5rem 1rem;
  color: var(--c2);
  cursor: pointer;
}
/* contact css */

/* COntact Page */

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
  }
  .location iframe {
    width: 100%;
  }
.contact-us{
    width: 80%;
    margin: auto;
}

.contact-us .row {
	display: flex;
	flex-wrap: wrap;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fas{
    font-size: 28px;
    color:var(--tc);
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}


.contact-col button{
	background: var(--c1);
	padding: .5rem 1rem;
	color: var(--c2);
	cursor: pointer;
	border: none;
}


.contact-col div h5{
    font-size: 28px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* footer Css */
.footer_section{
  background: var(--tc);
  width: 98.8vw;
  padding: 2rem;
  color: var(--white);
  overflow: hidden;
}
.footer_section .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer_section .content .one{
  width: 400px;
  text-align: left;
  margin-right: 2rem;
}

.footer_section .content .one p{
  font-weight: 300;
  text-align: justify;
  margin-top: 2rem;
}

.footer_section .content h3{
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.footer_section .content .two, 
.footer_section .content .four, 
.footer_section .content .three{
  margin-right: 3rem;
  margin-left: 3rem;
}



.footer_section .content li {
  text-align: left;
  
}
.footer_section .content li a{
  color: var(--white);
  font-weight: 200;
}
.footer_section .content li a:hover{
  text-decoration: underline;
}

.footer_section .content .four{
  width: 200px;
  display: flex;
  flex-direction: column;
}
.footer_section .content .four .social_links a{
  color: var(--white);
  font-size: 1.5rem;
  padding: 1rem;
}


.footer_section .content .four .social_links a:hover i{
  transform: scale(1.3)
}


















/* about page  */
.header.head_page_head{
  height: 300px !important;
  background-image: linear-gradient(to right, rgba(0,0,0,.9), rgba(0,0,0,.9)), url(../img/banner.jpg);
  background-attachment: fixed;
}
.content.about_head{

}
.content.about_head .texts{
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.content.about_head .texts h1{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: -2rem;
}
.content.about_head .texts p{

}